{% for page in site.manual.pages %}
  {% if page.name == manual-page %}
    {% unless forloop.first %}
      {% assign prev-page-idx = forloop.index0 | minus: 1 %}
      <a href="{{ site.manual.pages[prev-page-idx].name }}" style="float: left;">Previous</a>
    {% endunless %}
    OLauncher Manual
    {% unless forloop.last %}
      {% assign next-page-idx = forloop.index0 | plus: 1 %}
      <a href="{{ site.manual.pages[next-page-idx].name }}" style="float: right;">Next</a>
    {% endunless %}
  {% endif %}
{% endfor %}
