<div style="margin-top:16px">
    <h3><a href="/2022/04/13/welcome-to-olauncher.html">Welcome to OLauncher!</a></h3>
      <div class="content">
        <p>Introducing OLauncher, the old Minecraft launcher, but updated.
        Current features include:</p>
        <ul>
          <li>Microsoft Authentication</li>
          <li>Bundled Java runtime</li>
          <li>Update checking</li>
        </ul>
      
        <p>Planned features include:</p>
        <ul>
          <li>Skin, cape and Optifine cape management</li>
          <li>Support demo users</li>
        </ul>
      
        <p>We’ll keep you posted.<br>
        - The OLauncher Team</p>
      </div>
    </div>