<td class="sidebar" width="180px" valign="top">
  <h2>Official links:</h2>
  <a href="https://minecraft.net/">Minecraft.net</a><br><a href="https://minecraft.net/realms">Minecraft Realms</a><br><a href="https://www.facebook.com/minecraft">Minecraft&nbsp;on&nbsp;Facebook</a><br><a href="http://jinx.com/minecraft.aspx">Merchandise</a><br><br><a href="https://bugs.mojang.com/browse/MC">Bug tracker</a><br><a href="https://help.mojang.com">Account Support</a><br><br><a href="http://twitter.com/Mojang">Mojang on Twitter</a><br><a href="http://twitter.com/MojangSupport">Support on Twitter</a><br><br><b>Try Mojang's other games!</b><br>
  <div style="height:5px; display:block;"></div>
  <a href="http://scrolls.com/"><img src="http://assets.mojang.com/scrolls/scrolls_logo_150.png" border="0"></a>
  <div style="height:5px; display:block;"></div>
  <a href="http://playcobalt.com/?utm_source=mcl"><img src="http://assets.mojang.com/cobalt/cobalt_logo_150.png" border="0"></a>
  <div style="height:5px; display:block;"></div>
  <a href="https://www.minecraft.net/en-us/about-dungeons"><img src="/img/logo-dungeons.png" border="0"></a>
  <h2>Community links:</h2>
  <a href="http://minecraftforum.net/">Minecraft&nbsp;Forums</a><br><a href="http://www.twitch.tv/directory/game/Minecraft">Minecraft on Twitch.tv</a><br>
  <h2>OLauncher:</h2>
  <a href="https://github.com/olauncher"><img src="/img/olauncher_logo_150.png" border="0"></a>
</td>
