<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/launcher.css">
  </head>

  <body>
    <table width="100%" height="100%">
      <tbody>
        <tr valign="top">
          <td style="padding-left: 16px;padding-right: 16px;">
            <table width="100%">
              <tbody>
                <tr>
                  <td>
                    <h1>Minecraft News</h1>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="container">
              <div id="posts">
                {{ content }}

                {% if page.next %}
                  <a href="{{ page.next.url }}">Newer</a>
                {% endif %}
                {% if page.previous %}
                  <a href="{{ page.previous.url }}">Older</a>
                {% endif %}
              </div>
              <hr>
              <p>OLauncher is not affliated with Mojang Studios or Microsoft.</p>
            </div>
          </td>
          {% include sidebar.html %}
        </tr>
      </tbody>
    </table>
  </body>
</html>
